<ion-view view-title="About">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/about">
                <div class="about">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/trF_8XBgGKQ?rel=0" frameborder="0" allowfullscreen></iframe>
                    <p>

                    <h2>Kuruluş</h2>
                    Organize Sanayi Bölgesinin kurulmasına Bakanlar Kurulunun 24.10.1976 tarihinde karar verilmiştir.
                    1985 tarihine kadar konu üzerinde ciddi bir çalışma yapılmamıştır.
                    1985 yılında, Uşak Ticaret ve Sanayi Odası Yönetimi OSB’yi tekrar ele almış ve İl Özel İdare, Uşak
                    Belediyesi, Ticaret ve Sanayi Odasının işbirliği ile ve bu kuruluşlardan 2’şer üyenin katılmasıyla
                    28.11.1985 tarihinde 6 kişiden oluşan “Uşak Organize Sanayi Bölgesi Müteşebbis Teşekkülü”nü
                    kurmuştur.
                    Yaklaşık 7.200 kişinin istihdam edildiği ve 2007 yılı ihracatı 100 milyon dolar civarında
                    gerçekleşen Uşak OSB’nin 1. Bölgesi Uşak – İzmir karayolunun 14 – 18. km’sinde, 360 hektar arazi
                    üzerinde kurulmuştur. Bölgenin kurulması için 78 adet tarla rızaen şahıslardan, 2 adet arazi
                    Hazine’den ve 1 adet arazi de kamulaştırmak sureti ile satın alınmıştır. Bölge, 2000 yılında kabul
                    edilen 4562 sayılı Organize Sanayi Bölgeleri Kanununa istinaden Uşak OSB Yönetim Kurulu, Sanayi
                    Bakanlığı’na kredi borçlarını ödeyerek 2002 yılında ilk genel kurulunu, Türkiye genelindeki OSB’ler
                    içerisinde 3. olarak yapmış ve Özel Hukuk Tüzel Kişiliği”ni kazanmıştır.
                    Uşak Organize Sanayi Bölgesi İmar Planına göre; 1. Organize Sanayi Bölgesinde, arazinin 2.713.895
                    m²’si Sanayi parseline, 150.000 m²’si Sosyal Tesislere 528.000 m²’si bölge içi yollara, 351.000
                    m²’si park ve yeşil alanlara, 19.371 m²’si Şalt Sahasına (İndirici Trafo Merkezi) ayrılmıştır.
                    Bölge içinde alanları 700 – 40.000 m² arasında değişen 345 adet Sanayi parseli ve bu parseller
                    üzerinde 306 Katılımcı bulunmaktadır. Bahse konu bu parsellerin hepsi tahsis edilmiştir.
                    1. Bölgedeki tüm parseller yatırımcılara tahsis edilmiş ve bu arsalar üzerinde 165 sanayicimiz
                    tesisini kurarak üretime geçmiştir. 54 fabrika depo, 53 fabrika inşaat halinde ve 54 adeti de arsa
                    ve proje aşamasındadır.
                    İlk Dönem Altyapı ve Üstyapı Çalışmaları (1987)
                    Sanayi ve Ticaret Bakanlığının kredi desteği ile Müteşebbis Teşekkülümüzün sorumluluğu altında
                    kurulan Uşak Organize Sanayi Bölgesinin alt yapı inşaatı (yol, kanalizasyon, içme ve kullanma suyu,
                    Elektrik AG+OG şebekeleri) ihalesi yapılıp 16.11.1987 tarihinde yapılan törenle alt yapı inşaatına
                    başlanmıştır. Alt yapı, kanalizasyon, yol, içme ve kullanma suyu ile AG + OG şebeke inşaatları
                    süresi içinde bitirilmiş, 21.06.1994 tarihinde geçici kabulü yapılarak hizmete alınmıştır.
                    Bölge içinde 60 Km. uzunluğunda trotuar ve refüj bordürleri inşa ve imal edilmiştir. İmar planında
                    Yeşil Alan ve Yeşil Bant olarak gösterilen 351.000 m² alana ve trotuar alanına 65.000 fidan dikimi
                    yapılmış ve dikilen bu fidanların sulanması yapılarak fire vermeden tutmaları sağlanmıştır.
                    Bölgenin dış etkenlerden korunması ve muhafaza altına alınmasının temini bakımından, bölgenin İzmir
                    – Ankara devlet yoluna bakan, Gediz yoluna bakan cepheleri beton direkli helezon tel ve diğer
                    kısımlar bölge hudutları 4 sıra dikenli tel çekilmek sureti ile bölgenin koruma altına alınması
                    sağlanmıştır.
                    Bölge içi trafik akışının rahat ve düzenli olması için bölge içi 26 Km. uzunluğundaki yollar,
                    yaklaşık 1.150.000 USD harcama yapılarak 64.000 ton beton asfalt dökümü yapılmış ve parke
                    döşettirilmiştir.
                    Bölgenin ihtiyacı olan 140 litre/sn içme ve kullanma suyunun temini için Gediz çayı kenarına
                    kazdırılan 3 adet keson kuyudan temin edilen içme ve kullanma suyu, bölge içinde bulunan 400 tonluk
                    ara depoya ve bu depodan da keson kuyulara göre yaklaşık 200 m yükseklikte bulunan 2500 tonluk gömme
                    su deposuna basılmaktadır. 2004 yılında bu kuyuların yetersiz kalması nedeniyle 2 adet derin kuyu
                    sondajı yapılarak Keson kuyularındaki Motopomplar bu kuyulara montaj yapılmış ve su kullanımı
                    verimli hale getirilmiştir. Şu anda Organize Sanayi Bölgemizde su sorunu bulunmamaktadır.
                    UOSB Kullanma Suyu 0,41 TL/m³ bedel ile satılmaktadır, Kendi kuyusunu açan sanayicilerimizden ise
                    kuyularına su sayacı taktırıp, 0,25 TL/m³ bedel alınmaktadır.
                    </p>

                    <p>

                    <h2>Uşak OSB’nin Genişlemesi</h2>
                    OSB’mizin genişleme ihtiyacına cevap verecek Tevsii II. OSB’de 2.400.000 m² tarla şahıslardan
                    rızaen satın alınmıştır. Bu bölgenin imar planı parselasyon çalışmaları yapılmış tapuları tahsis
                    durumuna göre hazırlanmaktadır. Bu bölgede en düşük alanı 10.000 m². olmak üzere 34 adet sanayi
                    parseli ve çeşitli sosyal ve yeşil alan olarak ayrılan alanlar vardır.
                    Doğu Bölgemizde 600.000 m² alan üzerine kurulu, UMPAŞ Seramik A.Ş. ‘nin de Uşak Organize Sanayi
                    Bölgesine katılması ile 01.04.2005 tarihinden itibaren Uşak Organize Sanayi Bölgesinin toplam
                    alanı 6.782.840 m²’ye ulaşmıştır.
                    Uşak OSB’de 2. Dönem Altyapı ve Çevre Yatırımları (2005 Sonrası)
                    Gelişen, değişen ülke ve dünya şartları neticesinde 15 yıldan fazla kullanılmış olan mevcut
                    altyapı sistemi modern ihtiyaçlara cevap verebilmesi için 2005 yılında ciddi altyapı inşaatı ve
                    yenileme yatırımlarına başlanmıştır.
                    Uşak OSB’de 2005-2006 yıllarında yoğunlukla kanalizasyon, yağmursuyu ve doğalgaz altyapı
                    inşaatları ile çevre alanlarında ciddi çalışmalar yapılmıştır. Özellikle 2. tevsii alanın tahsis
                    edilmeye başlanmış olması ile bu bölgenin altyapı yatırımları başlamış ve mevcut bölgenin
                    altyapısı ile entegre projesi hazırlanmıştır. 2004 yılı son aylarında tüm OSB’nin endüstriyel ve
                    evsel nitelikli atık sularını arıtacak olan arıtma tesisi çalışmaları başlamış, yaklaşık 8 firma
                    ile görüşülüp ön teklifler alınmış, bütçe ve arıtma sistemi değerlendirmesi yapılarak ihaleye
                    çıkılmıştır. İhale sonucunda teklif veren 15 firma değerlendirme aşamalarından geçirilerek önce
                    5’e sonra 2 firmaya düşürülmüş 24 Haziran 2005’de merkezi atıksu arıtma tesisi yapım işi Şahin
                    Kimya ve Arıtma San. A.Ş.’ye verilmiştir. Saha çalışmaları ve ön hazırlık dönemi sonrası Eylül
                    2005’de başlanan Arıtma tesisi inşaatı Mayıs 2006’da bitmiş mekanik ekipman montajının
                    tamamlanması ile Mart 2007’de devreye alınıp Haziran 2008’de deşarj izin belgesi alınmıştır.
                    Uşak Organize Sanayi Bölgesi Merkezi Atıksu Arıtma Tesisi; fiziksel-kimyasal-biyolojik arıtma
                    üniteleri ve çamur susuzlaştırma ünitesinden müteşekkil 12 bin m³/gün arıtma kapasitesine sahip
                    tesisinin proje dahil anahtar teslimi bedeli 2 milyon 50 bin Avro+KDV olup, projenin finansmanı
                    sanayicilerden sağlanan öz kaynakla finanse edilmiştir.
                    Bölgede, altyapı çalışmaları arıtma tesisi işiyle entegre olarak devam etmiştir. İlk altyapı
                    sistemi yağmur suyu ve kanalizasyon sisteminin birlikte aktığı ‘bileşik sistem’ şeklinde imal
                    edilmiş olup, arıtma tesisinin sağlıklı çalışabilmesi ve altyapının modern bir şekilde hizmet
                    verebilmesi için 2. tevsii alanı da kapsayan yeni kanal sistemi inşaasıyla ‘ayrık sistem’ haline
                    getirilmiştir. Böylece ilk dönemde imal edilen mevcut kanal hattı yağmur suyuna terk edilerek
                    yeni atık su kanalizasyon hattının inşa ve imaline Eylül 2005’te başlanmış ve arıtma tesisi
                    inşaatımızla birlikte eş zamanlı olarak devreye alınmıştır.
                    2007 sonuna dek Uşak Organize Sanayi Bölgesi I. ve II. Bölge kapsamında toplam 32.000 m
                    uzunluğunda atıksu şebeke hattı (kanalizasyon borusu) döşenmesi işi tamamlanmıştır. Atıksu
                    şebeke hattı 377 muayene bacası ve 365 adet parsel bacasını kapsamaktadır. Yeni atıksu
                    şebekesinde modern korige borular ile imal etmiş olup ülkemizde bu konuda kalitesini ispat etmiş
                    firmalardan temin edilmiştir.
                    2. Tevsii alanımızın 1. etabında sanayicilerimizin ihtiyacı olan altyapı ve yol işleri
                    tamamlanmış ve ana yollar açılmış olup 2. bölgemizde halihazırdaki 34 parselden 27 parsel tahsis
                    edilmiş, 7 parselde Sanayicilerimize tahsisi hazır vaziyettedir. Diğer yandan tevsii alanımızda,
                    kullanma suyu, telekominikasyon sistemi, elektrik sistemi yeraltı olarak inşa edilmiş ve
                    elektrik dağıtım binaları metal hücreler ile teçhiz edilen prefabrik köşkler şeklinde
                    yapılmıştır. Böylece modern bir altyapı sistemi oluşturulmaya çalışılmıştır. Burada uygulanan
                    sistemler 1. Bölgedeki yenileme çalışmalarımızda da örnek olmulştur. Arsa ve tarla konumundan
                    sanayi bölgesi haline gelen 2. Bölgemizde 2005-2008 arası yapılan altyapı ve üstyapı yatırımları
                    tutarı yaklaşık 6.300.000 TL’dir
                    </p>
                    <p>

                    <h2>
                        Butik OSB Hedefine Ulaşmak İçin Yapılan Çalışmalar</h2>
                    </p>
                    <p>

                    <h2>Sağlık Birimi</h2>
                    OSB üyesi işletmelerin çalışanlarının sağlık müdahalelerinde ve kontrollerinde etkin
                    faydalanabilmeleri için 2005 yılında sağlık ocağı açılmış olup, doktor, hemşire, sağlık memuru
                    ve hizmetlilerden oluşan sağlık ekibi ile acil müdahale, hasta muayene, sağlık raporu,
                    enjeksiyon, pansuman, serum ve sonda takılması, laboratuvar hizmetleri (kan şekeri, kolestrol,
                    hematokrit, kan gurubu, gebelik testi, EKG) verilmektedir.
                    Sağlık Ocağımıza ek olarak 2007 yılında faaliyete geçen tam teşekküllü 112 acil servisi
                    istasyonu ile OSB içinde ve civarında oluşan acil vakalara müdahale edilmekte dir. 112 acil
                    servis istasyonu için prefebrik bir bina yapılmış olup lojistik destek OSB’miz tarafından
                    verilmektedir.
                    </p>
                    <p>

                    <h2>Sosyal Tesisler</h2>
                    İlk önce altında sosyal mekanların bulunduğu zemin katı inşa edilen OSB camimizin inşaatı
                    hayırseverlerimizin desteği ile UOSB yönetimimizin koordinsayonu ile 2006 sonunda inşaatı
                    tamamlanmış olup, çevre tanzimi yapılarak ibadete açılmıştır.
                    Önümüzdeki dönemde spor tesisleri ve kafeterya, ticaret merkezi inşa çalışmaları yapılacak olup,
                    üyelerimize önemli kazanım sağlanacaktır.
                    </p>
                    <p>

                    <h2>İtfaiye Ekibi</h2>
                    Uşak itfaiyesinin yanı sıra kentteki ikinci en kapsamlı ve teknik donanıma sahip, uzman kadrodan
                    oluşan itfaiye ekibi oluşturulmuştur. İtfaiye birimimize son dönemde alınan çok fonksiyonlu
                    sanayi yangınları ile mücadele edebilecek köpük donanımına sahip ve ikmal kuvvetini arttıran 3
                    adet söndürme aracının katılımının yanında mevcut 3 aracımızdan 2’si yenilenmiş 1 adet de öncü
                    aracın temini ve teçhizi ile 7 araçlık bir itfaiye filosu oluşturularak etkin söndürme ve
                    kurtarma birimi haline gelmiştir.
                    </p>
                    <p>

                    <h2>Enerji</h2>
                    2005 yılı sonunda Tedaş’dan devralınan enerji dağıtım şebekesi ile Tedaş’tan tek noktada
                    abonelik tesis edilmiş böylece Uşak OSB içerisindeki fabrika ve işletmelere enerji temini ve
                    abonelik işlemleri bölgemizce yapılmaya başlanmıştır. Bunun sonucunda şebeke bakım ve işletme
                    ekibinde daha aktif bir yapılanmaya gidilmiş 7/24 işletmelerimizin hizmetinde hizmet birimi
                    oluşturulmuştur.
                    Elde edilen elektrik enerjisi gelirleri ile mevcut OSB’deki trafo merkezlerinde yenileme
                    çalışmaları yapılmış olup, akabinde meteorolojik şartlardan sık sık etkilenen havai orta gerilim
                    elektrik şebekesi yeraltına alınmış, meydana gelebilecek arızalardan dolayı iş kaybı ve önemli
                    cihazların etkilenmesinin önüne geçilmiş sağlanan temiz ve verimli enerji ile ülke üretimi adına
                    önemli bir kazanım sağlanmıştır.
                    2005 – 2008 döneminde yapılan yoğun altyapı çalışmaları neticesinde mevcut osb’deki 26 km yolun
                    bozulan kesimlerinin yeniden yapılmasına 2007 yılında başlanmış olup yaklaşık 6.000.000 TL
                    tutması beklenen bu çalışma 2009 bahar aylarında ana güzergahlar asfalt, ara bağlantılar parke
                    olmak üzere yağmursuyu altyapısı da elden geçirilerek tekrar yapım işi bitecektir.
                    Uşak Organize Sanayi Bölgemizde yapılan, yapımı devam eden altyapı ve üstyapı işleri ve ek
                    olarak sosyal hizmet projeleri ile ülkemizin en önemli üretim merkezlerinden birisi olunması
                    hedeflenmektedir. Ortaya çıkacak modern ve yenilikçi OSB, yatırımcısına Butik hizmetlerin amaç
                    edinildiği örnek bir OSB’yi bölgemize ve ülkemize kazandırmaktır.

                    </p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
