<ion-view view-title="Başkandan">
    <ion-content>
        <div class="chairman">
            <img width="100%" alt="Başkandan" ng-src="{{chairmanPic}}" />

            <h2>Başkandan</h2>

            <p>
                Dünyada yaşanan son değişimlerden sonra, ekonominin ve yeni düzenin en önemli unsurları girişimcilik ve
                yenilikçilik olmuştur.
            </p>

            <p>
                Bu iki unsurun etkili olabilmesi ve amaçlarına ulaşabilmesi için ürün ve hizmetlerde sürekli gelişimin
                sağlanması gerekmektedir.
            </p>

            <p>
                Hem girişimcilik hem de yenilikçilik belli unsurları göz önüne almadan başarılı olamaz. Ne yaparsanız
                yapın, toplumun sosyal ve kültürel değerlerini, dini değerlerini, örf ve adetlerini, ürün yada hizmetin
                nasıl kullanılacağı yani kullanım kolaylığı gibi unsurları dikkate almazsanız başarıya ulaşamazsınız.
            </p>

            <p>
                Kendi işini kurmak, ya da mevcut faaliyet konusuna bir yenisini eklemek elbette çok heyecan verici. Bu
                heyecan, girişimin başarıya ulaşmasında çok önemli bir faktör olmasına rağmen bazı durumlarda
                girişiminize zarar verebilir. Küçük ama önemli detayları gözden kaçırabilirsiniz. Girişimcilik belli
                aşamaları olan bir süreç olduğuna göre en başta planlamada hata yapmamanız ve son derece dikkatli
                olmanız gerekmektedir. Hata demişken en önemli hatalardan birisi de sürekli olarak başarılı örneklere
                bakmak ve onları incelemektir. Herkesin yaptığı DOĞRULARA dikkat etmek gerekir. Şimdi bu moda! Dünyada
                herkes bunu kullanıyor! Modern ürün/hizmet anlayışı bunu gerektiriyor! Bu cümleleri muhakkak
                duymuşsunuzdur. Bu “herkesin yaptığı DOĞRULARI” derinlemesine analiz etmezseniz, çoğunluğun peşine
                düşerseniz büyük hatalar sizi bekliyor demektir.
            </p>

            <p>
                Özellikle Türkiye’de taklitçiliğin, AR-GE ve ÜR-GE çalışmalarını bastırdığını düşünürseniz konu daha net
                anlaşılacaktır. Sahaya inmek, son kullanıcılara ulaşmak, ister beyaz yakalı ister mavi yakalı olsun
                girişimde görev alacak personelin fikrini almak, maliyet hesaplarını doğru irdelemek, doğru finansman,
                üretim ve satış planlarını yapmak ve nihai kararı vermek. İşte mesele bundan ibaret. Genel anlamda
                basitçe özetlediğimiz girişimcilik süreçlerini doğru bir şekilde yerine getirmeyenleri, etrafımıza biraz
                dikkatlice baktığımızda rahat bir şekilde görebiliyoruz.
            </p>

            <p>
                Caddelerde, sokaklarda, sanayi bölgelerinde birçok yerde sürekli tabelalar değişiyor, ünvanlar
                değişiyor. Peki neden uzun ömürlü şirketlerimiz, işletmelerimiz olmuyor? Maalesef yeni kurulan
                işletmelerin birçoğu ilk 3 yılını tamamlayamıyor. Galiba bunun nedeni iş kurma süreçlerinde saklı. Bu
                süreci aşağıdaki şekilde özetlemek mümkün diye düşünüyorum: ……….. günde/ayda, ….…….
                dükkanını/fabrikasını/işletmesini açsam, ….….. aya/yıla kadar üretime/satışa geçsem, ………. ayda, ………
                kadar ürün/hizmet satsam. Ooo bu iş tamam. İşte size Türk işi girişimcilik. Noktalı yerleri siz
                doldurunuz.
            </p>

            <p>
                Dolayısı ile yapılacak olan girişimin konusu ne olursa olsun, ön çalışmalar yapılmalı. Açmak istediğiniz
                işletme için açılış/iş kurma sürecindeki tedarikçilerle görüşülmeli, satış için nihai kullanıcılarla ön
                görüşmeler yapılmalı ve en önemlisi benzer girişimler doğru bir şekilde analiz edilmeli. Örnek alınan
                girişimlerde sadece başarılı olanlar değil, başarılı olamayan örnekler de çok iyi incelenmeli. Maalesef,
                çoğu zaman heyecanımıza kapılıp bu süreçleri göz ardı ediyoruz ve işe koyuluyoruz. “Kervan yolda
                düzülür” deyip plansız, programsız, takvimsiz, öngörüsüz bir şekilde işe başlıyoruz. Çünkü girişim
                süreçlerinin yerine, sizin de duyduğunuza emin olduğum bir cümle geliyor: “Falanca yapmış çok da güzel
                kazanıyor”. Sonra bir bakmışsınız tabela değişmiş. Taklitçiliğin en temel dayanağı olan bu cümle, bir
                çok girişimin başarısız olmasının en önemli nedenidir. Siz siz olun, herkesin yaptıklarına dikkat edin,
                yoksa herkesten farkınız olmaz. Hem başarılı hem başarısız örnekleri inceleyin, yoksa ne olası hataları
                ne de doğru hamleleri kestiremezsiniz. Doğru zamanda, doğru yerde girişiminizi gerçekleştirin, yoksa işi
                sürdüremezsiniz. Konuyu uzatmadan, somutlaştırarak örnekleyelim:Kardan yapılan evler güzel oluyor diye
                eskimoları örnek alıp Akdeniz sahillerinde kardan ev yapamazsınız. Tüm girişimcilerimizin başarılı
                olması temennilerimle.
            </p>
        </div>

    </ion-content>
</ion-view>
