<ion-view view-title="Contact">
    <ion-content>
        <ion-list>
            <ion-item>


Adres : Uþak Ýzmir Karayolu 18. Km. Uþak Organize Sanayi Bölgesi 111. Cad. no:365

Telefon : 0 (276) 266 71 71

Faks : 0 (276) 266 71 72

Mail : bilgi@uosb.org.tr


                UOSB Birimleri Telefonlarý

                Arýtma Tesisi: 0276 266 79 60
                Basýn Yayýn Halkla Ýliþkiler: 0276 266 71 71-119
                Bilgi Ýþlem: 0276 266 71 71-210
                Çevse ve Su iþleri birimi: 0276 266 71 71-209
                Doðalgaz-Satýnalma birimi: 0276 266 71 71-601
                Elektrik birimi: 0276 266 71 71-302
                Ýtfaiye birimi: 0276 266 71 71-555
                Ýnþaat birimi: 0276 266 71 71-203
                Harita birimi: 0276 266 71 71-206
                Muhasebe birimi: 0276 266 71 71-114
                Yazý Ýþleri birimi: 0276 266 71 71-118
<div>
    <iframe width="400" height="300" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=tr&amp;geocode=&amp;q=U%C5%9Fak+Organize+Sanayi+B%C3%B6lgesi,+Tekstil+Osb,+T%C3%BCrkiye&amp;aq=0&amp;oq=u%C5%9Fak+organize&amp;sll=37.0625,-95.677068&amp;sspn=59.249168,135.263672&amp;ie=UTF8&amp;hq=Organize+Sanayi+B%C3%B6lgesi,+Tekstil+Osb,+T%C3%BCrkiye&amp;hnear=U%C5%9Fak,+T%C3%BCrkiye&amp;t=m&amp;ll=38.675861,29.250412&amp;spn=0.187621,0.411987&amp;z=11&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
                <button class="button button-block button-positive">
                    Block Button
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>