<ion-view view-title="Contact">

    <ion-content>
        <div>
            <div style="width: 100%;height: 300px;" id="map" data-tap-disabled="true"></div>
        </div>

        <div class="contact"> Uşak İzmir Karayolu 18. Km. Uşak Organize Sanayi Bölgesi 111. Cad. No:
            365<br/>
            <strong>Telefon:</strong> 0 (276) 266 71 71<br/>
            <strong>Faks:</strong> 0 (276) 266 71 72<br/>
            <strong>Mail:</strong> bilgi@uosb.org.tr<br/><br/>

            <h2>UOSB Birimleri Telefonları</h2>
            <ul>
                <li><i class="ion-android-arrow-forward"></i> Arıtma Tesisi: 0276 266 79 60</li>
                <li><i class="ion-android-arrow-forward"></i> Basın Yayın Halkla İlişkiler: 0276 266 71
                    71-119
                </li>
                <li><i class="ion-android-arrow-forward"></i> Bilgi İşlem: 0276 266 71 71-210</li>
                <li><i class="ion-android-arrow-forward"></i> Çevse ve Su işleri birimi: 0276 266 71 71-209
                </li>
                <li><i class="ion-android-arrow-forward"></i> Doğalgaz-Satınalma birimi: 0276 266 71 71</li>
                <li><i class="ion-android-arrow-forward"></i> Elektrik birimi: 0276 266 71 71-302</li>
                <li><i class="ion-android-arrow-forward"></i> İtfaiye birimi: 0276 266 71 71-555</li>
                <li><i class="ion-android-arrow-forward"></i> İnşaat birimi: 0276 266 71 71-203</li>
                <li><i class="ion-android-arrow-forward"></i> Harita birimi: 0276 266 71 71-206</li>
                <li><i class="ion-android-arrow-forward"></i> Muhasebe birimi: 0276 266 71 71-114</li>
                <li><i class="ion-android-arrow-forward"></i> Yazı İşleri birimi: 0276 266 71 71-118</li>
            </ul>
        </div>
    </ion-content>
</ion-view>