<ion-view view-title="İletişim Bilgilerimiz">
    <ion-content>
        <ion-list>
            <ion-item>
                <div>
                    <iframe width="100%" height="300" frameborder="0"
                            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=tr&amp;geocode=&amp;q=U%C5%9Fak+Organize+Sanayi+B%C3%B6lgesi,+Tekstil+Osb,+T%C3%BCrkiye&amp;aq=0&amp;oq=u%C5%9Fak+organize&amp;sll=37.0625,-95.677068&amp;sspn=59.249168,135.263672&amp;ie=UTF8&amp;hq=Organize+Sanayi+B%C3%B6lgesi,+Tekstil+Osb,+T%C3%BCrkiye&amp;hnear=U%C5%9Fak,+T%C3%BCrkiye&amp;t=m&amp;ll=38.675861,29.250412&amp;spn=0.187621,0.411987&amp;z=11&amp;output=embed"
                            marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <div class="contact">
                    <div class="list card">
                        <div class="item item-icon-left"> <i class="icon ion-home"></i>
                            Uşak İzmir Karayolu 18. Km. Uşak Organize Sanayi Bölgesi 111. Cad. No: 365 </div>
                        <div class="item item-icon-left"><i class="icon ion-ios-telephone"></i> 0 (276) 266 71 71</div>
                        <div class="item item-icon-left"><i class="icon ion-printer"></i> 0 (276) 266 71 72</div>
                        <div class="item item-icon-left"><i class="icon ion-ios-email"></i> bilgi@uosb.org.tr</div>

                    </div>
                    <ul class="list">
                        <li class="item"><strong>UOSB Birimleri Telefonları</strong></li>
                        <li class="item"><i class="ion-ios-telephone"></i> Arıtma Tesisi: 0276 266 79 60</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Basın Yayın Halkla İlişkiler: 0276 266 71 71-119</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Bilgi İşlem: 0276 266 71 71-210</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Çevse ve Su işleri birimi: 0276 266 71 71-209</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Doğalgaz-Satınalma birimi: 0276 266 71 71</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Elektrik birimi: 0276 266 71 71-302</li>
                        <li class="item"><i class="ion-ios-telephone"></i> İtfaiye birimi: 0276 266 71 71-555</li>
                        <li class="item"><i class="ion-ios-telephone"></i> İnşaat birimi: 0276 266 71 71-203</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Harita birimi: 0276 266 71 71-206</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Muhasebe birimi: 0276 266 71 71-114</li>
                        <li class="item"><i class="ion-ios-telephone"></i> Yazı İşleri birimi: 0276 266 71 71-118</li>
                    </ul>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>