<ion-view view-title="">

    <ion-content data-tap-disabled="true">

        <div id="googleMap" style="width:100%;height:400px;" name="googleMap"></div>
        <div class="companies">
            <div class="list card">
                <h2>{{selectedCompany.Company}}</h2>
                <div class="item item-icon-left"><i class="icon ion-ios-location"></i> Firma koordinat bilgileri</div>

                <div class="item item-icon-left"><i class="icon ion-home"></i>{{selectedCompany.Address}}</div>

                <div class="item item-icon-left"><i class="icon ion-ios-telephone"></i> <p ng-repeat="p in selectedCompany.Phone">
                    {{p}}
                </p></div>
            </div>
        </div>
    </ion-content>
</ion-view>