<ion-view view-title="Elektrik Birimi">
    <ion-content>
        <p>
            Şakir DALKIRAN / Elektrik Birim Amiri

            0532 682 95 39 / 0532 682 62 75

            Bölge Müdürlüğümüz Enerji Piyasası Düzenleme Kurumu’ndan 20.09.2007 tarih ve ED-OSB/1315-10/954
            Lisans No ile OSB Elektrik Dağıtım Lisansı almış olup; bu lisans gereği olarak onaylı sınırlarımız
            dâhilinde, OSB elektrik dağıtım faaliyeti ve bununla ilgili diğer hizmetlerin yerine getirilmesi
            faaliyetlerini yürütmektedir. Bu faaliyetler başlıca;
        </p>

        <p>
            Organize Sanayi Bölgelerinin Elektrik Piyasası Faaliyetlerine ilişkin Yönetmelik
            (http://www.epdk.gov.tr/web/elektrik-piyasasi-dairesi/34) ve ilgili mevzuat hükümlerine uymak,
        </p>

        <p>
            1 - Lisansı kapsamındaki faaliyetinin gerektirdiği diğer mevzuat hükümlerine uymak,
        </p>

        <p>
            2 - Onaylı sınırları içerisindeki katılımcılarına elektrik enerjisi temin etmek,trafo_kosk
        </p>

        <p>3 - Dağıtım tesislerinin gerekli yenileme ve genişleme yatırımları ile işletme ve bakımını yapmak,
        </p>

        <p>4 - Elektrik enerjisinin; verimli, kaliteli, kesintisiz ve güvenilir olarak katılımcılarına sunumu ve
            kayıp-kaçağın önlenmesi ile ilgili her türlü önlemi almak,
        </p>

        <p>5 - Ölçü devrelerinin kontrolü ve sayaç endekslerin okunması ile tahakkuk ve tahsilât yapmak,
        </p>

        <p>
            6 - Katılımcılarına, eşit taraflar arasında ayrım gözetmeksizin bağlantı ve sistem kullanım
            hizmetlerinden oluşan dağıtım hizmetlerini sunmak ve katılımcılarının OSB dağıtım sistemine bağlantı
            ve sistem kullanım taleplerini, sisteme erişim hakkını gözeterek karşılamak,
        </p>

        <p>7 - Elektrik üretim faaliyeti göstermek amacıyla lisans almak suretiyle kurulacak üretim tesislerinin
            OSB dağıtım sistemine bağlantısının mümkün olup olmadığı hakkında Kurum tarafından istenen görüşü
            gerekçeleri ile birlikte ilgili mevzuatta belirtilen süre içerisinde Kuruma sunmak,
        </p>

        <p>8 - OSB onaylı sınırları içerisinde bulunan ve başka bir tedarikçiden elektrik enerjisi ve/veya
            kapasite
            tedarik edemeyen serbest tüketici olan katılımcılarına elektrik enerjisi temin etmek,
        </p>

        <p>9 - Katılımcıları açısından; verimli, istikrarlı ve ekonomik bir sistemin oluşturulması ve korunması
            için, elektrik enerjisi üretimi, dağıtımı ve diğer hizmetler için uygun alt yapıyı sağlamak,
        </p>

        <p>10 - 4.4.2006 tarihli ve 26129 sayılı Resmi Gazete’de yayımlanan Elektrik Enerjisi Talep Tahminleri
            Hakkında Yönetmelik hükümleri çerçevesinde, bu lisans kapsamındaki OSB dağıtım bölgesine ilişkin
            talep tahminlerini hazırlamak ve dağıtım şirketi ve/veya TEİAŞ’ ne bildirmek,
        </p>

        <p>11 - Bağlantı ve sistem kullanım anlaşmaları ile Yan Hizmetler Yönetmeliği çerçevesinde gerekli yan
            hizmetleri ekonomik ve güvenilir olarak sağlamak,
        </p>

        <p>12 - OSB dağıtım bölgesindeki katılımcılarının ve diğer tedarikçilerden elektrik enerjisi ve/veya
            kapasite temin eden serbest tüketicilere ait kayıtları tutmak, puant taleplerini kaydetmek, sayaç
            kayıtlarını izlemek ve 3.11.2004 tarihli ve 25632 sayılı Resmi Gazete’de yayımlanan Elektrik Piyasa
            Dengeleme ve Uzlaştırma Yönetmeliği çerçevesindeki gerekli bilgi ve belgeleri; ilgili mevzuatın
            gerektirdiği formatta Piyasa Mali Uzlaştırma Merkezine vermek,
        </p>

        <p>13 - Katılımcılarına standart sözleşme sunmak,
        </p>

        <p>14 - Serbest tüketici hakkını kazanmış katılımcılarının tedarikçilerini değiştirmek istemeleri
            durumunda
            gerekli yardım, hizmet ve bilgileri sağlamak ve serbest tüketici hakkını kazanmış katılımcıları
            herhangi bir tedarikçiye yönlendirmemek, 4.9.2002 tarihli ve 24866 sayılı Resmi Gazete’de yayımlanan
            Elektrik Piyasası Serbest Tüketici Yönetmeliği çerçevesinde yıllık tüketimleri serbest tüketici
            limitini geçen katılımcılarına, bu durumla ilgili olarak bildirimde bulunmak,
        </p>

        <p>15 - Lisans kapsamındaki faaliyetlerin sürdürülmesini engelleyen veya aksatan olayları, bu olayların
            lisans kapsamındaki faaliyetler üzerindeki etkilerini, bu etkileri azaltmak veya ortadan kaldırmak
            için alınan önlemleri ve etkilerin hangi koşullarda ve sürede tamamen giderilebileceğini, olayın
            ortaya çıkmasından itibaren yedi iş günü içerisinde yazılı olarak Kuruma bildirmek,
        </p>

        <p>16 - Tesislerini, yasal defter ve kayıtlarını ilgili mevzuat hükümleri çerçevesinde denetime hazır
            bulundurmak, talep edildiğinde denetime açmak ve Kurumun faaliyetlerini yerine getirebilmesi için
            ihtiyaç duyacağı her türlü bilgi ve belgeyi Kuruma zamanında vermek,elektirik
        </p>

        <p>17 - OSB dağıtım sistemine bağlantı ve sistem kullanımı hakkındaki olumsuz görüş gerekçelerinin Kurum
            tarafından yapılan veya yaptırılan inceleme sonucunda, objektif teknik kriterlere dayanmaması
            nedeniyle Kurul tarafından uygun görülmemesi halinde, bağlantı ve/veya sistem kullanım anlaşmalarını
            imzalamak,
        </p>

        <p>18 - OSB dağıtım sistemine erişilebilirlik hususunda ve elektrik enerjisi kesintileri veya
            kısıntıları
            ile ilgili olarak yanlış ve yanıltıcı bilgi vermemek,
        </p>

        <p>19 - Serbest tüketici sıfatıyla temin ettiği elektrik enerjisini katılımcılarının kullanımına sunmak
            ve
            buna ilişkin diğer hizmetleri yürütmek,
        </p>

        <p>20 - Elektrik enerjisi ve/veya kapasite teminini en ekonomik kaynaktan sağlayabilmek,
        </p>

        <p>21 - Organize Sanayi Bölgelerinin Elektrik Piyasası Faaliyetlerine ilişkin Yönetmelikte belirlendiği
            şekilde, onaylı sınırları içerisinde yıllık olarak uygulanacak OSB Dağıtım Bedeli önerisini her yıl
            Ekim ayı sonuna kadar hazırlayarak EPDK onayına sunmak,
        </p>

        <p>22 - OSB, dağıtım bedelini tüm katılımcılarına eşit taraflar arasında ayırım gözetmeksizin uygulamak,

        </p>
    </ion-content>
</ion-view>