<ion-view view-title="Bilgi İşlem Birimi">
    <ion-content>
        <div class="units">
            <p>Bilgi İşlem Sorumlusu: Ozan Küçükmavi
                Dahili: 210<br>
                Gsm: 0534 353 11 89</p>

            <h4> Bilgi İşlem Biriminin Görev Yetki Sorumlulukları</h4>

            <ul>
                <li>1) Bilişim teknolojisindeki gelişmelere uygun olarak daha etkin ve verimli bilgi, belge ve iş akışı
                    düzenini
                    kurmak, buna yönelik yazılımları üretmek veya sağlamak.
                </li>
                <li>2) Müdürlüğün bilgi işlem sisteminin donanım alt yapısını kurmak, işletmek, bakım ve onarımlarını
                    yapmak
                    veya yaptırmak.
                </li>
                <li>3) E-posta, elektronik ağ vb. kurumsal sunucu sistemlerinin kurulum, yönetim ve güvenliğini
                    sağlamak,
                    kullanıcı hesaplarını, yerel alan ağı, geniş alan ağı ve internet erişim politikalarını yönetmek.
                </li>
                <li>4) Kurumun istediği verileri toplamak ve Kuruma göndermek.
                </li>
                <li>5) Müdür ve müdür yardımcısının verdiği diğer görevleri yapmak.
                </li>
                <li>6) İnternet hatlarının hızlı ve sürekli çalışır halde tutulmasını sağlamak,
                </li>
                <li>7) Bilgisayar ve server’da bulunan bilgileri sürekli yedeklemek,
                </li>
                <li>8) Hassas ve riskli görevleri bulunduğunu bilmek ve buna göre hareket etmek,
                </li>
                <li>9) Yazılımların ve kullanılan bilgisayarların tehlikeli virüslerden etkilenmemesi için uygun
                    programları
                    araştırarak satın alınmasını sağlamak.
                </li>
            </ul>
        </div>

    </ion-content>
</ion-view>