<ion-view view-title="Birimlerimiz">
    <ion-content>
        <ion-list>
            <ion-item menu-close>
                <div class="list units">
                    <a href="#/app/unitsElectric.html"  class="button button-block button-stable">
                        <i class="ion-ios-bolt"></i> Elektrik
                    </a>
                    <a href="#/app/unitsIt.html"  class="button button-block button-stable">
                        <i class="ion-monitor"></i> Bilgi İşlem
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
