.author-info {
    font-size: 13px;
    margin-bottom: 28px;
    overflow: hidden;
}
.author-info .avatar {
    float: left;
}
.author-info [rel="author"] {
    color: #19232d;
    text-transform: uppercase;
}
.author-info .social-icons {
    float: right;
}
.author-info .social-icons li {
    margin-right: 10px;
}
.author-info .social-icons li a {
    background: #fff none repeat scroll 0 0;
    color: #606569;
    font-size: 14px;
}
.author-info .social-icons li a:hover {
    color: #19232d;
}
.author-info .description {
    line-height: 1.714;
    margin-left: 135px;
}
.author-info .bio {
    margin-bottom: 0;
    margin-top: 14px;
}